
body {
background-color: #FAF0D7;
}
hr {background-color: white;
border-style: none;
height: 4px;
}

/*
img {
  background-color:
  height: 20px;

}
*/

h1 , h3 {
  color: #323232
}
h1 {
  font-size: 40px;
}

.broccoli {
  background-color: blue;
}
.apple {
  background-color: red;
}
